body {
    width: 300px;  /* Increase width */
    height: 400px; /* Increase height */
    font-family: "Merriweather", serif;
    background-color: rgb(208, 226, 226);
    padding: 10px;
}
.navBtn{
    background-color: #970101;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    align-items: left;
    text-decoration: none;
    text-size-adjust: 20px;

}